<app-header-admin></app-header-admin>

<app-loading *ngIf="loading"></app-loading>

<h1 class="text-base-content bg-base-200 mt-28 pt-2 w-full h-full text-center text-2xl">Empleados registrados</h1>
<div class="flex flex-wrap bg-base-200 w-full h-full">
  <div *ngFor="let empleado of empleados" class="card bg-base-100 w-full sm:w-96 shadow-xl m-4 cursor-pointer transform transition-transform duration-200 hover:scale-105" (click)="detallesEmpleado(empleado.id)">
    <div class="card-body">
      <h2 class="card-title text-base-content">{{empleado.persona.nombre}}</h2>
      <p class="text-base-content">{{empleado.rol.nombre}}</p>
    </div>
  </div>
</div>