<div class="flex justify-center items-center min-h-screen">
  <div class="card w-full max-w-lg bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title text-center">Registro</h2>

      <!-- Nombre de usuario -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Nombre de usuario</span>
        </label>
        <input
          type="text"
          placeholder="Nombre de usuario"
          class="input input-bordered"
          name="nombreUsuario"
          [(ngModel)]="this.nombreUsuario"
        />
      </div>
      <!-- Nombre de cui -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Cui de usuario</span>
        </label>
        <input
          type="number"
          placeholder="Nombre de usuario"
          class="input input-bordered"
          name="nombreUsuario"
          [(ngModel)]="this.cui"
        />
      </div>
      <!-- Contraseña -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Contraseña</span>
        </label>
        <input
          type="password"
          placeholder="Contraseña"
          class="input input-bordered"
          name="password"
          [(ngModel)]="this.password"
        />
      </div>

      <!-- Confirmar Contraseña -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Confirmar contraseña</span>
        </label>
        <input
          type="password"
          placeholder="Confirmar contraseña"
          class="input input-bordered"
          [(ngModel)]="this.confirmacionPassword"
        />
      </div>

      <!-- Correo -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Correo</span>
        </label>
        <input
          type="email"
          placeholder="Correo"
          class="input input-bordered"
          name="correo"
          [(ngModel)]="this.correo"
        />
      </div>

      <!-- Persona - Nombre -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Nombre</span>
        </label>
        <input
          type="text"
          placeholder="Nombre"
          class="input input-bordered"
          name="persona.nombre"
          [(ngModel)]="this.nombre"
        />
      </div>

      <!-- Persona - NIT -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">NIT</span>
        </label>
        <input
          type="text"
          placeholder="NIT"
          class="input input-bordered"
          name="persona.nit"
          [(ngModel)]="this.nit"
        />
      </div>

      <!-- Persona - Número -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Número</span>
        </label>
        <input
          type="number"
          placeholder="Número"
          class="input input-bordered"
          name="persona.numero"
          [(ngModel)]="this.telefono"
        />
      </div>

      <!-- Persona - Dirección -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Dirección</span>
        </label>
        <input
          type="text"
          placeholder="Dirección"
          class="input input-bordered"
          name="persona.direccion"
          [(ngModel)]="this.direccion"
        />
      </div>

      <!-- Persona - Género -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Género</span>
        </label>
        <select
          class="select select-bordered"
          name="persona.genero.id"
          [(ngModel)]="this.genero"
        >
          <option disabled selected>Seleccione un género</option>
          <ng-container *ngFor="let genero of servicioAuth.generos()">
            <option [ngValue]="genero">
              {{ genero.genero }}
            </option>
          </ng-container>
        </select>
      </div>

      <!-- A2F Activo -->
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text">Autenticación de dos factores activa</span>
          <input
            type="checkbox"
            class="checkbox"
            name="a2fActivo"
            [(ngModel)]="this.a2fActivo"
          />
        </label>
      </div>

      <!-- Botón para enviar -->
      <div class="form-control mt-6">
        <button (click)="this.registrar()" class="btn btn-primary w-full">
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>
