.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /*se coloca fondo semitransparente */
    z-index: 9999; /* y se asegura que esté encima de todo el contenido*/
  }
  