<div class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div
      class="absolute inset-0 bg-gradient-to-r from-purple-400 to-blue-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-lg"
    ></div>
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-lg sm:p-20">
      <div class="max-w-md mx-auto">
        <h1 class="text-2xl font-semibold">Ingresa Sesion</h1>
        <form action="/login" method="POST" class="space-y-4">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Correo Electronico</span>
            </label>
            <input
              type="text"
              placeholder="Ingrese su correo electronico"
              class="input input-bordered w-full"
              required
            />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Credenciales</span>
            </label>
            <input
              type="password"
              placeholder="Ingrese sus credenciales"
              class="input input-bordered w-full"
              required
            />
          </div>
          <div class="form-control">
            <label class="label">
              <a
                href="auth/recuperarCredencial"
                class="label-text-alt link link-hover"
                >Olvido su contrasenia?</a
              >
            </label>
          </div>
          <div class="form-control mt-6">
            <button type="submit" class="btn btn-primary w-full">Login</button>
          </div>
        </form>
        <p class="mt-4 text-sm text-center">
          Aun no tiene una cuenta?
          <a href="auth/registro" class="text-blue-600 hover:underline"
            >Registrese aqui</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
