<!-- navbar.component.html -->
<div class="navbar bg-base-100 z-10 fixed top-0 left-0 right-0" *ngIf="!loading">
  <div class="flex-1 flex items-center">
    <img class="w-20 h-10 rounded md:w-40 md:h-20" [src]="empresa?.logo">
    <a href="/administrador/panel-administrador" class="text-xl text-gray-100 ml-2">{{ empresa?.nombre }}</a>
  </div>

  <div class="flex-none gap-2 items-center">
    <!-- Pantallas pequeñas -->
    <div class="md:hidden">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
          <li>
            <select class="select w-full" (change)="onSelectChange($event)">
              <option disabled selected>Gestión de empresa</option>
              <option value="/administrador/informacion-empresa">Editar información</option>
            </select>
          </li>
          <li>
            <select class="select w-full" (change)="onSelectChange($event)">
              <option disabled selected>Gestión de empleados</option>
              <option value="/administrador/crear-empleado">Crear empleado</option>
            </select>
          </li>
          <li>
            <select class="select w-full" (change)="onSelectChange($event)">
              <option disabled selected>Gestión de servicios</option>
              <option>Ver servicios</option>
              <option>Crear servicio</option>
              <option>Editar servicio</option>
            </select>
          </li>
          <li>
            <select class="select w-full" (change)="onSelectChange($event)">
              <option disabled selected>Gestión de roles</option>
              <option value="/administrador/roles-registrados">Ver roles</option>
              <option value="/administrador/crear-rol">Crear Rol</option>
            </select>
          </li>
        </ul>
      </div>
    </div>

    <!-- Pantallas más grandes -->
    <ul class="menu menu-horizontal p-0 hidden md:flex space-x-4">
      <li>
        <select class="select w-full" (change)="onSelectChange($event)">
          <option disabled selected>Gestión de empresa</option>
          <option value="/administrador/informacion-empresa">Editar información</option>
        </select>
      </li>
      <li>
        <select class="select w-full" (change)="onSelectChange($event)">
          <option disabled selected>Gestión de empleados</option>
          <option value="/administrador/crear-empleado">Crear empleado</option>
        </select>
      </li>
      <li>
        <select class="select w-full" (change)="onSelectChange($event)">
          <option disabled selected>Gestión de servicios</option>
          <option>Ver servicios</option>
          <option>Crear servicio</option>
          <option>Editar servicio</option>
        </select>
      </li>
      <li>
        <select class="select w-full" (change)="onSelectChange($event)">
          <option disabled selected>Gestión de roles</option>
          <option value="/administrador/roles-registrados">Ver roles</option>
          <option value="/administrador/crear-rol">Crear Rol</option>
        </select>
      </li>
    </ul>

    <!-- Avatar con Dropdown -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a class="justify-between">Mi perfil</a>
        </li>
        <li><a>Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Indicador de loading de pantalla completa -->
<app-loading *ngIf="loading"></app-loading>
