<!-- navbar.component.html -->
<div class="navbar bg-base-100 z-10 fixed top-0 left-0 right-0" *ngIf="!loading">
  <div class="flex-1 flex items-center">
    <img class="w-20 h-10 rounded md:w-40 md:h-20" [src]="empresa?.logo">
    <a href="/administrador/panel-administrador" class="text-xl text-gray-100 ml-2">{{ empresa?.nombre }}</a>
  </div>

  <div class="flex-none gap-2 items-center">
    <!-- Pantallas pequeñas -->
    <div class="md:hidden">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost">
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content bg-base-100 rounded-box w-52"
        >
        <li *ngIf="tienePermiso(19)||tienePermiso(7)">
          <select class="select w-full truncate" (change)="onSelectChange($event)">
            <option disabled selected>Gestión de reservaciones</option>
            <option value="/administrador/vista-servicio" *ngIf="tienePermiso(19)">
              Ver reservaciones
            </option>
            <option value="/administrador/crear-servicio" *ngIf="tienePermiso(7)">
              Crear reservaciones
            </option>
          </select>
        </li>
        <li *ngIf="tienePermiso(2)">
          <select class="select w-full" (change)="onSelectChange($event)">
            <option disabled selected>Gestión de empresa</option>
            <option value="/administrador/informacion-empresa">
              Editar información
            </option>
          </select>
        </li>
        <li *ngIf="tienePermiso(13)||tienePermiso(5)||tienePermiso(17)||tienePermiso(16)">
          <select class="select w-full truncate" (change)="onSelectChange($event)">
            <option disabled selected>Gestión de servicios</option>
            <option value="/administrador/vista-servicio" *ngIf="tienePermiso(13)">
              Ver servicios
            </option>
            <option value="/administrador/crear-servicio" *ngIf="tienePermiso(5)">
              Crear servicio
            </option>
            <option value="/administrador/categorias-registradas" *ngIf="tienePermiso(17)">
              Ver categorías
            </option>
            <option value="/administrador/crear-categoria" *ngIf="tienePermiso(16)">
              Crear categoria
            </option>
          </select>
        </li>
        <li *ngIf="tienePermiso(12)||tienePermiso(3)">
          <select class="select w-full truncate" (change)="onSelectChange($event)">
            <option disabled selected>Gestión de roles</option>
            <option value="/administrador/roles-registrados" *ngIf="tienePermiso(12)">
              Ver roles
            </option>
            <option value="/administrador/crear-rol" *ngIf="tienePermiso(3)">
              Crear rol
            </option>
          </select>
        </li>
        <li *ngIf="tienePermiso(10)||tienePermiso(15)">
          <select class="select w-full truncate" (change)="onSelectChange($event)">
            <option disabled selected >Gestión de empleados</option>
            <option value="" *ngIf="tienePermiso(15)">
              Ver empleados
            </option>
            <option value="/administrador/crear-empleado" *ngIf="tienePermiso(10)">
              Crear empleado
            </option>
          </select>
        </li>
        </ul>
      </div>
    </div>

    <!-- Pantallas más grandes -->
    <ul class="menu menu-horizontal p-0 hidden md:flex space-x-4">
      <li *ngIf="tienePermiso(19)||tienePermiso(7)">
        <select class="select w-full truncate" (change)="onSelectChange($event)">
          <option disabled selected>Gestión de reservaciones</option>
          <option value="/administrador/vista-servicio" *ngIf="tienePermiso(19)">
            Ver reservaciones
          </option>
          <option value="/administrador/crear-servicio" *ngIf="tienePermiso(7)">
            Crear reservaciones
          </option>
        </select>
      </li>
      <li *ngIf="tienePermiso(2)">
        <select class="select w-full" (change)="onSelectChange($event)">
          <option disabled selected>Gestión de empresa</option>
          <option value="/administrador/informacion-empresa">
            Editar información
          </option>
        </select>
      </li>
      <li *ngIf="tienePermiso(13)||tienePermiso(5)||tienePermiso(17)||tienePermiso(16)">
        <select class="select w-full truncate" (change)="onSelectChange($event)">
          <option disabled selected>Gestión de servicios</option>
          <option value="/administrador/vista-servicio" *ngIf="tienePermiso(13)">
            Ver servicios
          </option>
          <option value="/administrador/crear-servicio" *ngIf="tienePermiso(5)">
            Crear servicio
          </option>
          <option value="/administrador/categorias-registradas" *ngIf="tienePermiso(17)">
            Ver categorías
          </option>
          <option value="/administrador/crear-categoria" *ngIf="tienePermiso(16)">
            Crear categoria
          </option>
        </select>
      </li>
      <li *ngIf="tienePermiso(12)||tienePermiso(3)">
        <select class="select w-full truncate" (change)="onSelectChange($event)">
          <option disabled selected>Gestión de roles</option>
          <option value="/administrador/roles-registrados" *ngIf="tienePermiso(12)">
            Ver roles
          </option>
          <option value="/administrador/crear-rol" *ngIf="tienePermiso(3)">
            Crear rol
          </option>
        </select>
      </li>
      <li *ngIf="tienePermiso(10)||tienePermiso(15)">
        <select class="select w-full truncate" (change)="onSelectChange($event)">
          <option disabled selected >Gestión de empleados</option>
          <option value="" *ngIf="tienePermiso(15)">
            Ver empleados
          </option>
          <option value="/administrador/crear-empleado" *ngIf="tienePermiso(10)">
            Crear empleado
          </option>
        </select>
      </li>
    </ul>

    <!-- Avatar con Dropdown -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
          />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li>
          <a class="justify-between">Mi perfil</a>
        </li>
        <li><a>Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Indicador de loading de pantalla completa -->
<app-loading *ngIf="loading"></app-loading>
