<app-header-admin></app-header-admin>

<div class="container mx-auto p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold mb-4 text-center text-gray-800">Creación de rol</h2>

    <form (ngSubmit)="guardarPermisos()" #permisosForm="ngForm">
        <div class="mb-4">
            <input
                type="text"
                name="nombre"
                placeholder="Ingresar nombre"
                class="input input-bordered w-full max-w-md p-2 text-base focus:outline-none focus:ring-2 focus:ring-blue-500"
                required
                [(ngModel)]="nuevoRol.nombre"
            />
        </div>

        <div class="mb-6">
            <input
                type="text"
                name="descripcion"
                placeholder="Ingresar descripción"
                class="input input-bordered w-full max-w-md p-2 text-base focus:outline-none focus:ring-2 focus:ring-blue-500"
                required
                [(ngModel)]="nuevoRol.descripcion"
            />
        </div>

        <div>
            <h2 class="text-xl font-semibold mb-4 text-gray-700">Seleccione los Permisos</h2>
            <div *ngFor="let permiso of permisos" class="flex items-center mb-3">
                <label class="flex items-center cursor-pointer">
                    <input
                        type="checkbox"
                        class="checkbox checkbox-primary"
                        [(ngModel)]="permiso.selected"
                        [ngModelOptions]="{standalone: true}"
                    />
                    <span class="ml-2 text-base text-gray-600">{{ permiso.nombre }}</span>
                </label>
            </div>
        </div>

        <div class="mt-6">
            <button type="submit" class="btn btn-primary w-full" [disabled]="!permisosForm.valid">Guardar Permisos</button>
        </div>
    </form>
</div>

<app-loading *ngIf="loading" ></app-loading>