<div class="col-md-4">
  <div class="btn-group">
    <div
      class="btn btn-primary"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()"
    >
      Previous
    </div>
    <div
      class="btn btn-outline-secondary"
      mwlCalendarToday
      [(viewDate)]="viewDate"
    >
      Today
    </div>
    <div
      class="btn btn-primary"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()"
    >
      Next
    </div>
  </div>
</div>

<div class="calendar-container">
  <!-- para ver la fecga-->
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate : view + "ViewTitle" : "en" }}</h3>
  </div>

  <div class="row text-center">
    <div class="col">
      <button (click)="setView(CalendarView.Month)">Mes</button>
      <button (click)="setView(CalendarView.Week)">Semana</button>
      <button (click)="setView(CalendarView.Day)">Día</button>
    </div>
  </div>
  <!-- <div class="calendar-body">
    <mwl-calendar-month-view
      *ngIf="view === CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-month-view>

    <mwl-calendar-week-view
      *ngIf="view === CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-week-view>

    <mwl-calendar-day-view
      *ngIf="view === CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-day-view>
  </div> -->

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>

  <!-- Modal para editar eventos -->
  <!-- <div class="custom-modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <h2>Editar evento</h2>
      <form>
        <label for="title">Título:</label>
        <input type="text" [(ngModel)]="selectedEvent" required />

        <label for="date">Fecha:</label>
        <input type="date" [(ngModel)]="eventDate" required />

        <button type="button" (click)="saveEvent()">Guardar</button>
        <button type="button" (click)="closeModal()">Cancelar</button>
      </form>
    </div>
  </div> -->
</div>

<br /><br /><br />

<h3>
  Edit events
  <button class="btn btn-primary float-end" (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3>

<div class="overflow-x-auto">
  <table class="min-w-full border border-gray-200">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2 border">Title</th>
        <th class="px-4 py-2 border">Starts at</th>
        <th class="px-4 py-2 border">Ends at</th>
        <th class="px-4 py-2 border">Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events" class="hover:bg-gray-50">
        <td class="px-4 py-2 border">
          <input
            type="text"
            class="w-full p-2 border rounded"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()"
          />
        </td>

        <td class="px-4 py-2 border">
          <input
            class="w-full p-2 border rounded"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>

        <td class="px-4 py-2 border">
          <input
            class="w-full p-2 border rounded"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>

        <td class="px-4 py-2 border">
          <button
            class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
            (click)="deleteEvent(event)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
